$color1:linear-gradient(267deg,#da7c25 0.36%, #B923e1 102.06%);
$color2:linear-gradient(270deg, #DF8908 50%, #B415FF 100%);
$color3:linear-gradient(45deg, #3f0028, #582300);
$color4:linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
$colortext:#d8d8d8;
li{
    text-decoration: none;
}
p{
    font-size: 18px;
}